chat
  .container
   style.
    #login { display: none; }
    .login,
    .logout { 
        position: absolute; 
        top: -3px;
        right: 0;
    }
    .page-header { position: relative; }
    .reviews {
        color: #555;    
        font-weight: bold;
        margin: 10px auto 20px;
    }
    .notes {
        color: #999;
        font-size: 12px;
    }
    .media .media-object { max-width: 120px; }
    .media-body { position: relative; }
    .media-date { 
        position: absolute; 
        right: 25px;
        top: 25px;
    }
    .media-date li { padding: 0; }
    .media-date li:first-child:before { content: ''; }
    .media-date li:before { 
        content: '.'; 
        margin-left: -2px; 
        margin-right: 2px;
    }
    .media-comment { margin-bottom: 20px; }
    .media-replied { margin: 0 0 20px 50px; }
    .media-replied .media-heading { padding-left: 6px; }

    .btn-circle {
        font-weight: bold;
        font-size: 12px;
        padding: 6px 15px;
        border-radius: 20px;
    }
    .btn-circle span { padding-right: 6px; }
    .embed-responsive { margin-bottom: 20px; }
    .tab-content {
        padding: 50px 15px;
        border: 1px solid #ddd;
        border-top: 0;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .custom-input-file {
        overflow: hidden;
        position: relative;
        width: 120px;
        height: 120px;
        background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');    
        background-size: 120px;
        border-radius: 120px;
    }
    input[type="file"]{
        z-index: 999;
        line-height: 0;
        font-size: 0;
        position: absolute;
        opacity: 0;
        filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
        margin: 0;
        padding:0;
        left:0;
    }
    .uploadPhoto {
        position: absolute;
        top: 25%;
        left: 25%;
        display: none;
        width: 50%;
        height: 50%;
        color: #fff;    
        text-align: center;
        line-height: 60px;
        text-transform: uppercase;    
        background-color: rgba(0,0,0,.3);
        border-radius: 50px;
        cursor: pointer;
    }

  .row
      .page-header()
        h3.reviews Comments
      .comment-tabs
        ul.nav.nav-tabs(role='tablist')
          li.active
            a(href='#comments-logout', role='tab', data-toggle='tab')
              h4.reviews.text-capitalize Comments
          li
            a(href='#add-comment', role='tab', data-toggle='tab', style='visibility:hidden')
              h4.reviews.text-capitalize Add comment
        .tab-content
          #comments-logout.tab-pane.active
            ul.media-list
              if item.questions
                 each question in item.questions
                  li.media
                    .media-body
                      .well.well-lg
                        if question.asker.profile.name
                         - var my_name = question.asker.profile.name;
                        else
                         - var my_name = "Question";

                        h4.media-heading.text-uppercase.reviews #{my_name}
                        ul.media-date.text-uppercase.reviews.list-inline
                          li #{question.timestamp}
                        p.media-comment
                          | #{question.text}
                        if item.isMyItem
                         form(action='/marketplace/answerquestion', method='post')
                          .form-group
                           input(type='hidden', name='item_id', value=item.itemId)
                           input(type='hidden', name='question_id', value=question.id)
                           input#addComment.form-control(style='border-radius:5px',name='answer_text', rows='1', placeholder='Reply with answer')
                        if question.comments.length > 0
                            a.btn.btn-warning.btn-circle.text-uppercase(data-toggle='collapse', href='#replyOne')
                              span.glyphicon.glyphicon-comment
                              |  #{question.comments.length} comments
                    if question.comments
                     #replyOne.collapse
                      ul.media-list
                       each comment in question.comments
                        li.media.media-replied
                          .media-body
                            .well.well-lg
                              if comment.commenter.profile.name
                                 - var the_name = comment.commenter.profile.name;
                              else
                                 - var the_name = "Answer";
                              h4.media-heading.text-uppercase.reviews
                                span.glyphicon.glyphicon-share-alt
                                |  #{the_name}
                              ul.media-date.text-uppercase.reviews.list-inline
                                li #{comment.timestamp}
                              p.media-comment
                                | #{comment.text}
                              if false == true
                               a#reply.btn.btn-info.btn-circle.text-uppercase(href='#')
                                 span.glyphicon.glyphicon-share-alt
                                 |  Reply
                                
          #add-comment.tab-pane
            form#commentForm.form-horizontal(style='height:130px',action='#', method='post', role='form')
              .form-group
                label.col-sm-2.control-label(for='email') Comment
                .col-sm-10
                  textarea#addComment.form-control(name='addComment', rows='5')
              .form-group
                .col-sm-offset-2.col-sm-10
                  button#submitComment.btn.btn-success.btn-circle.text-uppercase(type='submit')
                    span.glyphicon.glyphicon-send
                    |  Submit comment
              .form-group(style='visibility:hidden')
                label.col-sm-2.control-label(for='uploadMedia') Upload media
                .col-sm-10
                  .input-group
                    .input-group-addon http://
                    input#uploadMedia.form-control(type='text', name='uploadMedia')
          
  .page-header.text-center
    h3.reviews