extends ../layout

block content
  .page-header
       script(type='text/javascript').
         function hover(element) {
           element.style.outline = '3px solid yellow';
           //element.setAttribute('src', 'http://dummyimage.com/100x100/eb00eb/fff');
         }

         function unhover(element) {
           element.style.outline = 'none';
           //element.setAttribute('src', 'http://dummyimage.com/100x100/000/fff');
         }
         
         function updateImage(element) {
           $("#mainProductImage").attr("src",element.src);
         }

       .row
        .col-xs-1.col-md-1
         each image in item.image
          .row
           img#sideImage(onclick="updateImage(this)", onmouseover="hover(this);", onmouseout="unhover(this)", src=image, height=200, style='height:80px;width:100px;')
           <br>
        .col-xs-6.col-md-6
         img#mainProductImage(src=item.image[0], height=200, style='height:64%;width:80%;')
         p
        .col-xs-4.col-md-5
         div(style='overflow:hidden;')
          .form-group
           .row
            .col-md-8
             #datetimepicker12
          script(type='text/javascript').
            $(function () {
            $('#datetimepicker12').datetimepicker({
            inline: true,
            sideBySide: true
            });
            });

         h3(style='letter-spacing:.25rem;text-transform:uppercase;font-weight:300;margin-top:-18px')
          | #{item.title}
         h3(style='font-size:16px')
          | #{item.description}
         h3(style='font-size:18px')
          | <b>$#{item.price}</b>
         a.btn.btn-primary(style='width:100%;margin-top:30px', href='/transactions/buy/' + item.itemId,data-transition='fade', data-theme='c')
          |PURCHASE WITH Venmo
         a.btn.btn-warning(style='width:100%;margin-top:5px', data-transition='fade', data-theme='c',data-toggle='modal', data-target='#myModal')
          |ASK A QUESTION
         a.btn.btn-info#shareBtn(style='width:100%;margin-top:5px')
          |SHARE TO FACEBOOK
       .row
         include ../partials/chat
         
       // Modal
       #myModal.modal.fade(role='dialog')
          .modal-dialog
            // Modal content
            .modal-content
             form(action='/marketplace/askquestion', method='post')
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h3.modal-title 
                 | Ask a question about item "#{item.title}"
              .modal-body
                .form-group
                 label(style='width:100%;margin-top:-5px;margin-bottom:5px;font-size:16px') Question:
                 input#inputlg.form-control.input-lg(name="question_text",placeholder="Enter your question here.",style='font-weight:bold',type='text')
                 input(type='hidden', name='item_id', value=item.itemId)
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-warning(type='submit') Ask Question
       script.
         window.fbAsyncInit = function() {
            FB.init({
              appId      : '1277819765573106',
              xfbml      : true,
              version    : 'v2.8'
            });
            FB.AppEvents.logPageView();
         };
         (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) return;
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/es_LA/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
       
         document.getElementById('shareBtn').onclick = function() {
          FB.ui({
            method: 'share',
            display: 'popup',
            href: window.location.href,
          }, function(response){});
         }