extends ../layout

block content
  .page-header
    h3 #{title} #{item.title}

  .panel.panel-default(style='background-color: lightblue;height:500px;')
     .panel-body
       .row
        .col-sm-6
         img(id=item.itemId,src='data:image/jpeg;base64,' + item.image[0], height=200, style='height:423px;width:500px;')
         p
         a.btn.btn-primary(href='/transactions/buy/' + item.itemId,data-transition='fade', data-theme='c', style='width:250px')
          |Purchase Item
         a.btn.btn-warning(style='width:250px', onclick='modalUp("' + item.itemId + '","' + item.price + '","' + item.description + '")',data-transition='fade', data-theme='c',data-toggle='modal', data-target='#myModal')
          |Ask a Question
        .col-sm-6
        div(style='overflow:hidden;')
          .form-group
           .row
            .col-md-8
             #datetimepicker12
          script(type='text/javascript').
            $(function () {
            $('#datetimepicker12').datetimepicker({
            inline: true,
            sideBySide: true
            });
            });

        p
         h3
          | <b>Price: $</b>#{item.price}
         p
         h3
          | <b>Description: </b>#{item.description}