extends ../layout

block content

    .row#searchbar
      h2.title Buy. Sell. Cornell.
      
      form.navbar-form(action='/marketplace/search', method='post')
        .row.mainsearch
          .form-group(style='display:inline;')
            .input-group
              .input-group-btn
                button.btn.btn-default.dropdown-toggle#searchdropdown(style='border-radius:5px;font-weight:bold;height:34px', type='button', data-toggle='dropdown')
                  input.span#category_choice(style='border-radius:5px;width:203px;background:transparent;border-color: inherit; -webkit-box-shadow: none; box-shadow: none;border:none; font-family:Montserrat,sans-serif;',name="selectedCategory", value=category) 
                  span.glyphicon.glyphicon-chevron-down
                ul.dropdown-menu.pull-left#drop1(style='width:241px')
                  li
                    a.dropdown(href='#',style='font-weight:bold') All Categories
                  li
                    a.dropdown(href='#',style='font-weight:bold') Books
                  li
                    a.dropdown(href='#',style='font-weight:bold') Sublets
                  li
                    a.dropdown(href='#',style='font-weight:bold') Technology & Gadgets
                  li
                    a.dropdown(href='#',style='font-weight:bold') For Him
                  li
                    a.dropdown(href='#',style='font-weight:bold') For Her
                  li
                    a.dropdown(href='#',style='font-weight:bold') Furniture & Home
                  li
                    a.dropdown(href='#',style='font-weight:bold') Tickets
                  li
                    a.dropdown(href='#',style='font-weight:bold') Ride Share
                  li
                    a.dropdown(href='#',style='font-weight:bold') Others
              input#searchbartext.form-control(value=search_text,name='searchQuery', type='text', placeholder='What are you searching for?', style='border-radius:5px;width:283px;font-size:20px;font-family:Arial')
              button.btn.btn-default#run_search_query(style='border-radius:5px;height:34px')
                   span.glyphicon.glyphicon-search

    .container-fluid.mobilesearch
      .col-md-4.col-md-offset-4
       form.navbar-form(action='/marketplace/search', method='post', style='margin: auto;')
          .form-group(style='display:inline;')
            .input-group
             .row
              input.form-control(value=search_text,name='searchQuery', type='text', placeholder='What are you searching for?', style='border-radius:5px;width:283px;font-size:20px;font-family:Arial')
             .row
              .input-group-btn
                button.btn.btn-default.dropdown-toggle(style='border-radius:5px;font-weight:bold;height:34px', type='button', data-toggle='dropdown')
                  input.span#category_choice(style='border-radius:5px;width:203px;background:transparent;border-color: inherit; -webkit-box-shadow: none; box-shadow: none;border:none; font-family:Montserrat,sans-serif;',name="selectedCategory", value=category) 
                  span.glyphicon.glyphicon-chevron-down
                  button.btn.btn-default#run_search_query(style='margin-left:1px;border-radius:5px;height:34px')
                   span.glyphicon.glyphicon-search
                ul.dropdown-menu.pull-left#drop1(style='width:241px')
                  li
                    a.dropdown(href='#',style='font-weight:bold') All Categories
                  li
                    a.dropdown(href='#',style='font-weight:bold') Books
                  li
                    a.dropdown(href='#',style='font-weight:bold') Sublets
                  li
                    a.dropdown(href='#',style='font-weight:bold') Technology & Gadgets
                  li
                    a.dropdown(href='#',style='font-weight:bold') For Him
                  li
                    a.dropdown(href='#',style='font-weight:bold') For Her
                  li
                    a.dropdown(href='#',style='font-weight:bold') Furniture & Home
                  li
                    a.dropdown(href='#',style='font-weight:bold') Tickets
                  li
                    a.dropdown(href='#',style='font-weight:bold') Ride Share
                  li
                    a.dropdown(href='#',style='font-weight:bold') Others
             

    p
    .row.subtitletext
        span.subtitle alternatively, browse through our top categories:
    .row.categorytext
        a.category(href='#',onclick='gains("For Her")') For Her
        a.category(href='#', onclick='gains("For Him")') For Him
        a.category(href='#', onclick='gains("Technology & Gadgets")') Technology & Gadgets
        a.category(href='#', onclick='gains("Furniture & Home")') Furniture & Home
    hr#lineborder
    br

    script(text='text/javascript').
     window.startPage = 3;
     $("#drop1 li").click(function(e){
      document.getElementById("category_choice").value = $(this).text();
      $("#run_search_query").click();
     });

     function gains(category){
      document.getElementById("category_choice").value = category;
      $("#run_search_query").click();
     }
     
     function loadMore(){
        $.get("/marketplace/loadmore",{searchQuery: '', category: '', page: window.startPage}, function(item_contents, status){
            $( ".row" ).last().after(item_contents);
        });
     }
     
     $(window).scroll(function() {
       if($(window).scrollTop() + $(window).height() == $(document).height()) {
           loadMore();
           window.startPage +=1;
       }
     });
    .row#gainzAreHere
     -var index = 3
        each item in items
          if (index % 3 ==0)
           <br>
           .row
          -index++
            .col-md-4
               a(href='/marketplace/fullView/' + item.itemId, style="color: inherit;text-decoration: none;cursor:pointer;")
                    img(src=item.image[0], style='height:280px;width:100%;margin-top:5px')
                    h6(style='font-size:1.05rem;letter-spacing:0.065rem;font-family:Montserrat,sans-serif;font-weight:300')
                     | #{item.timestamp}                  
                    <hr style='margin-bottom:7px;margin-top:7px'>
                    <b style='font-size:18px;font-family:Montserrat,sans-serif;text-transform:uppercase'>#{item.title}</b>
                    p
                     | <small style='width:100%;letter-spacing:0.065rem;font-family:Montserrat,sans-serif'>#{item.description}</small>
                     | <br>
                     | <span style='font-weight:bold;font-size:16px;font-family:Monsterrat, sans-serif;'>$#{item.price}<span>
    .row