extends ../layout

block content
  style.
      /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

  .page-header
    h3 #{title} #{item.title}
  form(action='/transactions/confirmDelivery/', method='post')
   .panel.panel-default(style='background-color: white;height:455px;')
     .panel-body
       input(type='hidden', name='item_id', value=item.itemId, required)
       .row
        .col-xs-6.col-md-6
         img(id=item.itemId,src=item.image[0], height=200, style='height:423px;width:500px;')
        .col-xs-12.col-md-12
        h1
         | <b>Tell us how we can reach you: </b>
        label(for='deliveryLocation') Delivery Location:    
        <br>
         - var old_loc = item.delivery ? item.delivery.deliveryLocation : ''
         input(style='font-size:20px;font-weight:bold',type='text', name='deliveryLocation', value=old_loc, placeholder='Your Address at Cornell', required)
        <br>  
        h4(style='display:inline-block')
         | <b>Meet up</b>
        label.switch(style='display:inline-block')
          input(type='checkbox')
          .slider
        h4(style='display:inline-block')
         | <b>Delivery</b>
        <br>
        label(for='deliveryPhoneNumber') Contact Info:  
        <br>
         - var old_loc = item.delivery ? item.delivery.deliveryPhoneNumber : ''
         input(style='font-size:20px;font-weight:bold',type='text', name='deliveryPhoneNumber', value=old_loc, placeholder='212-1234567', required)
        <br>  
        <br>
        label(for='deliveryVenmoAccount') Venmo Username:  
        <br>
         - var old_loc = item.delivery ? item.delivery.buyerVenmo : ''
         input(style='font-size:20px;font-weight:bold',type='text', name='deliveryVenmoAccount', value=old_loc, placeholder='@my-venmo-account', required)
        <br>  
        button.btn.btn-primary(type='submit', style='width:265px')
         |Confirm Delivery