extends ../layout

block content
  .page-header
    h3 #{title} #{item.title}
  form(action='/transactions/confirmDelivery/', method='post')
   .panel.panel-default(style='background-color: lightblue;height:455px;')
     .panel-body
       input(type='hidden', name='item_id', value=item.itemId)
       .row
        .col-sm-6
         img(id=item.itemId,src=item.image[0], height=200, style='height:423px;width:500px;')
        .col-sm-12
        h1
         | <b>Enter your delivery information: </b>
        label(for='deliveryLocation') Delivery Location:    
        <br>
         - var old_loc = item.delivery ? item.delivery.deliveryLocation : ''
         input(style='font-size:20px;font-weight:bold',type='text', name='deliveryLocation', value=old_loc, placeholder='Your Address')
        <br>  
        <br>
        label(for='deliveryPhoneNumber') Contact Info:  
        <br>
         - var old_loc = item.delivery ? item.delivery.deliveryPhoneNumber : ''
         input(style='font-size:20px;font-weight:bold',type='text', name='deliveryPhoneNumber', value=old_loc, placeholder='Your Phone Number')
        <br>  
        <br>
        button.btn.btn-primary(type='submit', style='width:265px')
         |Confirm Delivery