extends ../layout

block content
  .page-header
    h3 #{title} #{item.title}
  form(action='/transactions/confirmPickup/', method='post')
   .panel.panel-default(style='background-color: lightblue;height:455px;')
     .panel-body
       input(type='hidden', name='item_id', value=item.itemId)
       .row
        .col-sm-6
         img(id=item.itemId,src=item.image[0], height=200, style='height:423px;width:500px;')
        .col-sm-12
        h1
         | <b>Enter your pick up information: </b>
        label(for='pickupLocation') Pickup Location:    
        <br>
         - var old_loc = item.pickup ? item.pickup.pickupLocation : ''
         input(style='font-size:20px;font-weight:bold',type='text', name='pickupLocation', value=old_loc, placeholder='Your Address')
        <br>  
        <br>
        label(for='pickupDate') Pickup Date & Time:  
        <br>
         - var old_date = item.pickup ? item.pickup.pickupDate : ''
         input(style='font-size:20px;font-weight:bold',type='text', name='pickupDate', value=old_date)  
        <br>  
        <br>
        button.btn.btn-primary(type='submit', style='width:265px')
         |Confirm Pick Up
        script(type='text/javascript').
          $(function() {
          $('input[name="pickupDate"]').daterangepicker({
          singleDatePicker: true,
          timePicker: true,
          timePickerIncrement: 30,
          locale: {
          format: 'MM/DD/YYYY h:mm A'
          }
          });
          });