extends ../layout

block content
    script(type='text/javascript').
       function modalUp(imageId, price, description, title, category){
         document.getElementById("modalImage").src = document.getElementById(imageId).src;
         document.getElementById("modalPrice").value = price;
         document.getElementById("modalDesc").value = description;
         document.getElementById("modalLabel").value = imageId;
         document.getElementById("modalTitle").value = title;
         document.getElementById("modalCategory").value = category;
       }

    .myshopping
      h2.title My Shopping
    hr
    ul.nav.nav-tabs
      li(class=initialTab === 0 ? 'active' : '')
       a(data-toggle='tab', href='#home') Currently Selling
      li(class=initialTab === 1 ? 'active' : '')
        a(data-toggle='tab', href='#menu1') Currently Buying
      li(class=initialTab === 2 ? 'active' : '')
        a(data-toggle='tab', href='#menu2' style='visibility:hidden') Transaction History
    .tab-content
      #home.tab-pane.fade.in.active
        h3 <b>My Items For Sale:</b>
        p
         .row
             each item in items
                 .col-sm-4
                     .panel.panel-default(style="")
                       .panel-body
                         img(class="img-responsive center-block",id=item.itemId,src=item.image[0], height=200, style='height:200px;width:250px;')
                         p
                         a.btn.btn-primary(style='width:50%',href='/transactions/remove/' + item.itemId,data-transition='fade', data-theme='c')
                          |Remove from listings
                         a.btn.btn-success(style='width:50%',onclick='modalUp("' + item.itemId + '","' + item.price + '","' + item.description + '","' + item.title + '","' + item.category + '")',data-transition='fade', data-theme='c',data-toggle='modal', data-target='#myModal')
                          |Update description
                         if item.readyForSchedule
                           if item.pickup
                             - var buttonText = 'Change Pickup Time'  
                             - var buttonType = 'btn btn-default'                         
                           else
                             - var buttonText = 'Schedule Pickup Time'
                             - var buttonType = 'btn btn-primary'
                         else
                             - var buttonText = 'Waiting for buyers'
                             - var buttonType = 'btn btn-warning'
                         - var buttonLink = item.readyForSchedule ? '/transactions/schedulepickup/' + item.itemId : '#'
                         
                           a(class=buttonType,style='width: 100%;margin-top:3px',href=buttonLink,data-transition='fade', data-theme='c')
                            |#{buttonText}
      #menu1.tab-pane.fade
        h3 <b>Items I'm currently buying:</b>
        p
         .row
             each item in purchasedItems
                 .col-sm-4
                     .panel.panel-default(style='height:270px;width:370px;')
                       .panel-body#currentlybuying
                         img(class="img-responsive center-block",id=item.itemId,src=item.image[0], height=200, style='height:200px;width:250px;')
                         p
                         if item.waitingOnDeposit
                           - var buttonText = "Waiting on Payment"
                           - var buttonType = 'btn btn-warning'
                           - var buttonLink = '#'
                         else
                            if item.sellerConfirmed
                               - var buttonText = "In Delivery!"
                               - var buttonType = 'btn btn-success'
                               - var buttonLink = '#'
                            else
                               - var buttonText = "Waiting for Seller to Confirm"
                               - var buttonType = 'btn btn-warning'
                               - var buttonLink = '#'
                         a(class=buttonType,href=buttonLink,data-transition='fade', data-theme='c')
                          | #{buttonText}

      #menu2.tab-pane.fade
        h3 <b>My Transaction History:</b>
        .container
          table.table
            thead
              tr
                th Type
                th Item
                th Price
            tbody
              tr
                td <b>Bought</b>
                td <a href="#">Test</a>
                td $3000.00
    form(action='/transactions/update', method='post')
     #myModal.modal.fade(role='dialog', data-backdrop='true')
      .modal-dialog(style='width:1000px;')
         .modal-content
           .modal-header
             button.close(type='button', data-dismiss='modal') ×
             h4.modal-title Update Item
           .modal-body(id="modalBodyId", style='width:1000px;')
             .row
               .col-sm-4
                 img(id='modalImage', height=200, style='height:262px;width:337px;')
               .col-sm-3(style='margin-left:30px')
                    label(for='modalTitle') Title
                        textarea#modalTitle.form-control(name='itemTitle',rows='1',style="resize:none;width:130%")
                    p
                    label(for='modalDesc') Description
                        textarea#modalDesc.form-control(name='itemDescription',rows='5',style="resize:none;width:130%")
                    p
                    label(for='modalPrice') Price
                        .input-group
                         span.input-group-addon $
                         input#modalPrice.form-control(type='text', name='itemPrice', aria-label='Amount (to the nearest dollar)',style="resize:none;width:130%")
               .col-sm-3(style='margin-left:40px')
                label(for='modalCat') Category
                    button.btn.btn-default.dropdown-toggle(style='font-weight:bold;height:34px', type='button', data-toggle='dropdown')
                      input.span#modalCategory(name='itemCategory', style='background:transparent;border-color: inherit; -webkit-box-shadow: none; box-shadow: none;border:none;', value="All Categories") 
                      span.glyphicon.glyphicon-chevron-down
                    ul.dropdown-menu#drop1(style='margin-left:14px;width:230px')
                      li
                        a(href='#',style='font-weight:bold') All Categories
                      li
                        a(href='#',style='font-weight:bold') Books
                      li
                        a(href='#',style='font-weight:bold') Sublets
                      li
                        a(href='#',style='font-weight:bold') Technology & Gadgets
                      li
                        a(href='#',style='font-weight:bold') For Him
                      li
                        a(href='#',style='font-weight:bold') For Her
                      li
                        a(href='#',style='font-weight:bold') Furniture & Home
                      li
                        a(href='#',style='font-weight:bold') Tickets
                      li
                        a(href='#',style='font-weight:bold') Others
           .modal-footer
             input(id="modalLabel", name="itemId",style="visibility:hidden;height:0px")
             button.btn.btn-danger(type='button', data-dismiss='modal') Close
             button.btn.btn-primary(type='submit') Update
           script(text='text/javascript').
             $("#drop1 li").click(function(e){
              document.getElementById("modalCategory").value = $(this).text()
             });